*
 padding: 0
 margin: 0
 box-sizing: border-box

$color-blue: #5290EA
$color-orange: #F28B64
$color-grey: #E2E2E2
$background-color: #F0F0F0
$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

.container
 max-width: 1140px
 margin: 0 auto

.main-section
 min-height: 800px
 background-color: $background-color
 padding-top: 16px
 overflow: hidden
 position: relative
 &__logo
  width: 152px
 &__nav-container
  display: flex
  justify-content: space-between
  align-items: center
  height: 70px
 &__content-container
  display: flex
  position: relative
 &__first-ring
  position: absolute
  top: 120px 
  right: 0
 &__second-ring
  position: absolute
  bottom: -100px
  right: -70px

.nav-menu
 &__list
  display: flex
  gap: 64px
 &__list-item
  font-size: 18px
  font-weight: 600
  list-style-type: none
  a
   text-decoration: none
   color: black
   position: relative
   &::before
    content: ""
    height: 100%
    width: 0
    border-bottom: 2px solid black
    position: absolute
    top: 0
    left: 0
    transition: .5s all
   &:hover::before
    width: 100%

.left-wrapper
  position: relative
  &__rectangle-blue
    position: absolute
    height: 220px
    width: 560px
    background-color: $color-blue
    transform: rotate(-64deg)
    top: 140px
    left: -50px
    border-radius: 100px
    box-shadow: $box-shadow
  &__rectangle-orange
    position: absolute
    height: 220px
    width: 620px
    background-color: $color-orange
    transform: rotate(-51deg)
    top: 160px
    left: -34px
    border-radius: 100px
    box-shadow: $box-shadow
  &__rectangle-grey
    position: absolute
    height: 220px
    width: 610px
    background-color: $color-grey
    transform: rotate(-36deg)
    top: 195px
    left: 15px
    border-radius: 100px
    box-shadow: $box-shadow
  &__img
    position: relative
    width: 880px

//  bq st
i
  transition: .3s all
// bq nd

.icons
  display: flex
  gap: 17px
  &__item
    height: 40px
    width: 40px
    border: 1px solid $color-blue
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: 0.3s all  //bq
  &__item:hover
    box-shadow: $box-shadow
    i
      font-size: 21px

.title
  font-size: 72px
  font-weight: 700

.right-wrapper
  position: absolute
  width: 320px
  right: 80px
  top: 125px
  &__text
    font-size: 16px
    margin-bottom: 20px
  

.buttons
  display: flex
  &__main-btn
    height: 60px
    width: 200px
    color: white
    font-size: 18px
    font-weight: 700
    background-color: $color-orange
    border: none
    border-radius: 100px
    box-shadow: $box-shadow
    cursor: pointer
    margin-right: 30px
    transition: .3s all
    &:hover
      background-color: #ef7b51
  &__icon-btn
    display: flex
    align-items: center
    img
      margin-right: 15px
      cursor: pointer
      transition: .3s all
      &:hover
        transform: scale(110%)
  &__text
    font-size: 16px

.ring
  display: flex
  justify-content: center
  align-items: center
  height: 194px
  width: 194px
  border-radius: 50%
  background-image: linear-gradient(144deg, #ed7a508a 0%, #4889ea89 54%, #2c2c2c82 100%)
  &::before
    display: block
    content: ""
    height: 130px
    width: 130px
    background-color: $background-color
    border-radius: 50%
  &_white
    &::before
    background-color: white
  &_big
    height: 285px
    width: 285px
    &::before
      height: 190px
      width: 190px
    

.section-courses
  min-height: 700px
  position: relative
  overflow: hidden
  &__container
    padding-top: 30px
  &__title
    padding-bottom: 40px
  &__cards-box
    display: flex
    gap: 30px
    margin-bottom: 25px
  &__icons-box
    display: flex
    justify-content: space-evenly
  &__first-ring
    position: absolute
    top: 356px
    left: 305px
    z-index: -1
  &__second-ring
    position: absolute
    top: 45px
    right: 325px
    z-index: -1


.cards-item
    height: 360px
    width: 360px
    border-radius: 10px
    position: relative
    display: flex
    align-items: flex-end
    box-shadow: $box-shadow
    transition: .4s all
    &:hover
      transform: scale(104%)
      transform: rotate3d(1, 1, 1, 35deg) //bq
    &_grey
        background-color: $color-grey
    &_orange
        background-color: $color-orange
    &_blue
        background-color: $color-blue
    &__text
        font-size: 36px
        font-weight: 600
        width: 280px
        transform: rotate(90deg)
        text-align: center
        position: absolute
        top: 144px
        right: -50px

.icons-item
    display: flex
    align-items: center
    gap: 20px
    &__text
        font-size: 18px
        span
            font-size: 48px
            font-weight: 600
