*
    padding: 0
    margin: 0
    box-sizing: border-box

$color-blue: #5290EA
$color-orange: #F28B64
$color-grey: #E2E2E2
$background-color: #F0F0F0

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    min-height: 800px
    background-color: $background-color
    padding-top: 16px
    z-index: -5
    position: relative
    &__logo
        width: 152px
    &__nav-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 70px
    &__content-container
        display: flex  

    
.nav-menu
    &__list
        display: flex
        gap: 64px
    &__list-item
        font-size: 18px
        font-weight: 600
        list-style-type: none
    a
        text-decoration: none

.left-wrapper
    position: relative
    &__rectangle-blue
        position: absolute
        height: 220px
        width: 565.95px
        background-color: $color-blue
        transform: rotate(-64deg)
        top: 200px
        left: -100px
        border-radius: 100px
        filter: drop-shadow(-0.5rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5))
        z-index: -3
    &__rectangle-orange
        position: absolute
        height: 220px
        width: 618.43px
        background-color: $color-orange
        transform: rotate(-50.81deg)
        top: 200px
        left: -100px
        border-radius: 100px
        filter: drop-shadow(-0.5rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5))
    &__rectangle-grey
        position: absolute
        height: 220px
        width: 608.97px
        background-color: $color-grey
        transform: rotate(-36.15deg)
        top: 200px
        left: -100px
        border-radius: 100px
        filter: drop-shadow(-0.5rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5))
        z-index: -2
    &__img
        z-index: 1
        position: relative