*
    padding: 0
    margin: 0
    box-sizing: 0

$color-blue: #5290EA
$color-orange: #F28B64
$color-grey: #E2E2E2
$background-color: #F0F0F0

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    min-height: 800px
    background-color: $background-color
